.unlock--iButton {
    background-color: #8b98ac;
    border-radius: 0.8em;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    transition: all 0.3s ease;
    margin: 0.3em;
    max-width: max-content;
}

.unlock--iButton:hover {
    background-color: #5e656e;
    /* change the background color on hover */
}

.unlock--iCenter {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    width: 100% !important;
    margin: auto 0;
    /* center the child element vertically */
}

.unlock--iDiv {
    background-color: #cbe9ee;
}

.unlock--iFrame {
    resize: both;
    overflow: auto;
    margin-bottom: 10px;
}

.hidden {
    display: none !important;
}